{% extends "base.html" %}

{% block content %}


    <div class="row mt-3">
        <div class="col-6" style="text-align: center;">
            <h1>Мягкая зона</h1>
        </div>
        <div class="col-6" style="text-align: center;">
            <h1>Главный зал</h1>
        </div>

        {% for hall in items %}
        <div class="col-6">
            <div class="container-fluid mt-3 pb-3 rounded" style="background-color: #9A1563; color: black;">
              <div class="row row-cols-4 row-cols-lg-4 g-2 g-lg-3">
                {% for item in hall %}

                {% if item[0] == 'Стол' %}
                <div class="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark w-100 h-100 p-3" data-bs-toggle="modal" data-bs-target="#id{{ item[1].map_id }}">
                      Стол
                    </button>
                    <form>
                        <div class="modal fade" id="id{{ item[1].map_id }}" tabindex="-1" aria-labelledby="{{ item[1].map_id }}Label" aria-hidden="true" style="color: black;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Забронировать стол</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Фамилия<br>
                                            {{ item[1].surname(class="form-control") }}<br>
                                            {% for error in item[1].surname.errors %}
                                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                                            {% endfor %}
                                        </p>
                                        <p>
                                            Номер телефона<br>
                                            {{ item[1].number(class="form-control") }}<br>
                                            {% for error in item[1].number.errors %}
                                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" text="111111" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться</button>
                                        {{ item[1].submit(type="submit", class="btn btn-primary") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                {% elif item[0] == 'PS4'%}
                <div class="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark w-100 h-100 p-3" data-bs-toggle="modal" data-bs-target="#id{{ item[1].map_id }}">
                      PS4
                    </button>
                    <form>
                        <div class="modal fade" id="id{{ item[1].map_id }}" tabindex="-1" aria-labelledby="{{ item[1].map_id }}Label" aria-hidden="true" style="color: black;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Забронировать PS4</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Фамилия<br>
                                            {{ item[1].surname(class="form-control") }}<br>
                                            {% for error in item[1].surname.errors %}
                                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                                            {% endfor %}
                                        </p>
                                        <p>
                                            Номер телефона<br>
                                            {{ item[1].number(class="form-control") }}<br>
                                            {% for error in item[1].number.errors %}
                                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться</button>
                                        {{ item[1].submit(type="submit", class="btn btn-primary") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                {% elif item[0] == 'Забронировано' %}
                <div class="col">
                    <button class="btn btn-dark w-100 h-100" disabled>Забронировано</button>
                </div>


                {% elif item[0] == 'Полка' %}
                <div class="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark w-100 h-100 p-3" data-bs-toggle="modal" data-bs-target="#id{{ item[1] }}">
                        Полка
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="id{{ item[1] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ item[1] }}Label" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Полка</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>Хотите посмотреть игры в наличии?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться</button>
                            <a class="btn btn-primary" href="/shelf" role="button" aria-expanded="false">Перейти к полке</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>


                {% elif item[0] == 'Витрина' %}
                <div class="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark w-100 h-100 p-3" data-bs-toggle="modal" data-bs-target="#id{{ item[1] }}">
                        Витрина
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="id{{ item[1] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ item[1] }}Label" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Витрина</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>Хотите перейти в магазин?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться</button>
                            <a class="btn btn-primary" href="http://проигры.рф/" role="button" aria-expanded="false">Магазин</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>


                {% elif item[0] == 'Бар' %}
                <div class="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark w-100 h-100 p-3" data-bs-toggle="modal" data-bs-target="#id{{ item[1] }}">
                        Бар
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="id{{ item[1] }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ item[1] }}Label" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Бар</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>В разработке</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                {% else %}
                <div class="col"><div class="p-3 border-dark">.</div></div>
                {% endif %}

                {% endfor %}
              </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-6 mt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-info w-100 h-100" data-bs-toggle="modal" data-bs-target="#hall">
                Арендовать зал
            </button>

            <!-- Modal -->
            <div class="modal fade" id="hall" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="hallLabel" aria-hidden="true" style="color: black;">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Аренда зала</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p>Для аренды зала необходимо позвонить в заведение по номеру +79128359025</p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="btn-group w-100">
                <button type="button" class="btn btn-outline-info" disabled>{{ today }}</button>
                <div class="dropdown">
                    <a class="btn btn-outline-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Выбрать день</a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for day in days %}
                        <li><a class="dropdown-item" href="/map_1/{{ day }}" {% if day == today%} active {% endif %}>{{ day }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}