<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
    <!-- <script type="text/javascript" src="../static/js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Шаблон для шапки</title>
</head>
<body style="background-color: #272524; color: white;">
<header>
    <nav class="navbar navbar-expand-lg navbar-light text-black" style="background-color: #00B8C3;">
        <div class="container-fluid">
            <div class="navbar-logo">
                <a href="../templates/base.html" class="navbar-brand" style="font-size: 1.5rem;">
                    <img src="../static/img/logo.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav" style="flex-grow: 0;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/shelf" class="nav-link active">Полка</a>
                    </li>
                    <li class="nav-item">
                        <a href="/map" class="nav-link active">Карта</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://проигры.рф/" class="nav-link active">Магазин</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ current_user.nickname }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration">Регистрация</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>


<main role="main" class="container-fluid">

    <div class="row mt-3">
        <div class="col-6" style="text-align: center;">
            <h1>Мягкая зона</h1>
        </div>
        <div class="col-6" style="text-align: center;">
            <h1>Главный зал</h1>
        </div>

        <div class="col-6">
            <div class="container-fluid mt-3 pb-3 rounded" style="background-color: #9A1563; color: black;">
              <div class="row row-cols-4 row-cols-lg-4 g-2 g-lg-3">
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">PS4</button>
                </div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
              </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container-fluid mt-3 pb-3 rounded" style="background-color: #FFF100; color: black;">
              <div class="row row-cols-4 row-cols-lg-4 g-2 g-lg-3">
                <div class="col">
                    <button class="btn btn-dark w-100 h-100" disabled>Забронировано</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Стол</button>
                </div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Полка</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-dark w-100 h-100">Витрина</button>
                </div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col"><div class="p-3 border-dark">.</div></div>
                <div class="col">
                    <button class="btn btn-outline-dark w-100 h-100">Бар</button>
                </div>
              </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <button type="button" class="btn btn-outline-info w-100">Забронировать зал</button>
        </div>
        <div class="col-6 mt-3">
                <div class="btn-group w-100" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        среда 20.04(сегодня)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <h6 class="dropdown-header">Выбрать день</h6>
                        <a class="dropdown-item active" href="#">среда 20.04(сегодня)</a>
                        <a class="dropdown-item" href="#">четверг 21.04(завтра)</a>
                        <a class="dropdown-item" href="#">пятница 22.04</a>
                        <a class="dropdown-item" href="#">суббота 23.04</a>
                        <a class="dropdown-item" href="#">воскресенье 24.04</a>
                        <a class="dropdown-item" href="#">понедельник 25.04</a>
                        <a class="dropdown-item" href="#">вторник 26.04</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<footer>
</footer>
</body>
</html>